body {
    font-family: Trebuchet MS;
    background-size: cover;
    font-style: inherit;
    overflow: hidden;
}

.accounting-table{
    background-color: white;
    border: 20px;
    margin: 2%;
    border-radius: 10px;
}
.accounting-box{
    background-color: white;
    height: auto;
    border-radius: 10px;
    overflow: auto;
    margin: 5%;
}

.accounting-settlement{
    background-color: white;
    border: 20px;
    margin: 2%;
    border-radius: 10px;
}

.accounting-boxSettlement{
    background-color: white;
    height: auto;
    border-radius: 10px;
    overflow: auto;
    margin: 5%;
}