.body{
    font-family: "Trebuchet MS";
    font-style: inherit;
    background-attachment: fixed;
    height: auto;
}

.container{
    background-color: white;
    position: relative;
    min-width: 500px;
}

.containererer{
    opacity: 0.7;
    border-radius: 15px;
    width: 55%;
    height: 75%;
    padding: 5%;
    margin: 0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.test{
    padding-bottom: 8px;
}

.lock {
    font-size: 50px;
    color: #a3e6f7;
}

.input {
    padding:4px;
    margin:0px;
    height:26px;
    overflow:hidden;
    line-height:16px;
}
.button {
    background:#a3e6f7;
    color: black;
    vertical-align:top;
    padding:4px;
    margin-left: 1%;
    height:26px;
    overflow:hidden;
    text-align:center;
    line-height:16px;
}

.textarea{
    padding-bottom: 10%;
    padding-top: 2%;
}



