.profil{
    background-color: white;
    border-radius: 10px;
    height: 670px;
    margin-top: 20px;
    overflow: auto;
}

.index-todo{
    padding: 20px;
    background-color: gainsboro;
    margin: 25px;
    height: 310px;
}

.newsfeed{
    padding:2%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height:175px;
    max-width: 85%;
    -moz-box-shadow: 0 0 1px grey;
    -webkit-box-shadow: 0 0 1px grey;
    box-shadow:  0 0 1px grey;
    border-radius: 10px;
    max-height: 670px;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
}

.group-feedProfilPicture{
    padding: 10%;
    max-width: 100px;
    max-height: 100px;
    image-rendering: crisp-edges;
}
