

.profil{
    margin-left:3.6%;
    background-color: white;
    border-radius: 10px;
    height: 87vh;
    margin-top: 20px;
    overflow: auto;
}

.index-todo{
    padding: 20px;
    background-color: gainsboro;
    margin: 25px;
    height: 310px;
}

.newsfeed{
    margin-left:3.6%;
    padding:2%;
    margin-top: 20px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 1px grey;
    -webkit-box-shadow: 0 0 1px grey;
    box-shadow:  0 0 1px grey;
    border-radius: 10px;
    overflow-y: auto;
    background-color: white;
}

.newfeed-post{
    padding:2%;
    margin-top: 20px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 1px grey;
    -webkit-box-shadow: 0 0 1px grey;
    box-shadow:  0 0 1px grey;
    border-radius: 10px;
    overflow-y: auto;
    background-color: white;
}

.group-feedProfilPicture{
    padding: 10%;
    max-width: 100px;
    max-height: 100px;
    image-rendering: crisp-edges;
}

body{
    overflow-x: hidden;
    background-color: #7ebccc;
}

@media screen and (max-width: 992px) {
    .profil{
        text-align: center;
    }
    .newsfeed{
        text-align: center;
    }
}