#meal-recipes{
    background-color: white;
    border-radius: 10px;
    height: 670px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
}
#meal-calendar{
    background-color: white;
    border-radius: 10px;
    height: 670px;
    margin-left: 20px;
    margin-top: 20px;
    overflow-y: auto;
}

body{
    overflow-x: hidden;
    font-family: "Trebuchet MS";
    font-style: inherit;
}

#meal-header{
    font-size: x-large;
}

#meal-addRecipe{
    -moz-box-shadow: 0 0 1px grey;
    -webkit-box-shadow: 0 0 1px grey;
    box-shadow:  0 0 1px grey;
    border-radius: 5px;
    padding:2%;
}

.messagepop {
    display:none;
    width:60vh;
    z-index:50;
    padding: 25px 25px 20px;
    border-radius: 25px;
    box-shadow: 5px 5px grey;
}
.pop {
    text-align:left;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);
}

.pop-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 25px;
    box-shadow: 5px 5px grey;
}

.messagepop p, .messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}