body{
    font-family: "Trebuchet MS";
    background-size: cover;
    font-style: inherit;
    overflow-x: hidden;
}

.buttonn{
    width: 125px;
}

.inpt{
    width: 10px;
}

div.container1{

    height: 87vh;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 2%;
    border-top: #a3e6f7 1vh solid;
    border-bottom: #a3e6f7 1vh solid;
}

div.leftcontainer{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border-top: #a3e6f7 1vh solid;
    border-bottom: #a3e6f7 1vh solid;
    margin-bottom: 20px;
}

div.rightcontainer{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border-top: #a3e6f7 1vh solid;
    border-bottom: #a3e6f7 1vh solid;
}


div.changeinfo {
    margin-top: 5%;
    padding: 2%;
}

div.textarea{
    font-size: 100%;
}

.mainrow{
    padding-left: 15%;
}

@media (max-width: 900px){
    #profpic{
        width: 150px;
        height: 150px;
    }
    .leftcontainer{
        min-width: 56vh;

    }
    .rightcontainer {
        padding: 0px;
        min-width: 56vh;
    }
    .mainrow{
        padding-left: 0px;
    }
}


@media (min-width: 500px) and (max-width: 768px) {
    .leftcontainer{
        min-width: 80vh;
    }

    .rightcontainer{
        min-width: 80vh;
    }

    .mainrow{
        padding-left: 20%;
        padding: auto;
    }





}

/*
@media(max-width:767px){
    .colu1 {
    }
}

@media(min-width:375px){
    .colu1 {
        min-width: 500px;
    }
}
*/

#okok{
    overflow-y: scroll;

}

#profpic{
    width: 180px;
    height: 180px;
}

.okoko2{
    float:left;
    display: none;
    text-align: center;
}

.okoko{
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fa-picture-o{
    font-size: 20px;
    color: grey;
    padding: 2%;
}

.fa-picture-o:hover{
    color: #00BFF3;
}

/*
@include media-breakpoint-up(sm) { ... }
@media screen and (max-width: 375px) {
    .picture img {
        display: none!important;
    }
    .okoko{
        display: none!important;
    }
    .okoko2{
        display: block!important;
        float: left;
        text-align: center;

    }
}

*/

#profile-name{
    padding-top: 6%;
}

.b{
    position: absolute;
    bottom: 0;
    align: center;
}

h4 {
    font-size: 90%;
}

h6{
    font-size: 30%
}


div.debtborder{
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.newcarouselbox{
    background-color: white;
    height: 100%;
    width: 100%;
}

.newcarouselboxinside{
    background-color: paleturquoise;
    border-radius: 15px;
    border: outset 2px;
    max-width: 70%;
    height: 200px;
}


.fa-chevron-left, .fa-chevron-right{
    font-size: 20px;
    color: black;
}

.fa-chevron-left{
    padding-left: 10px

}

.fa-chevron-right{
    padding-right: 10px;
}



.carousel-indicators
{
    top: auto;
}


.media-carousel .carousel-indicators li
{
    background: #828282;
}
.media-carousel .carousel-indicators .active
{
    background: black;
}
