div.transbox {
    margin-top: 50px;
    background-color: #ffffff;
    opacity: 0.8;
    height: auto;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 15px;
    margin-bottom: 50px;
}

.fa.fa-check-square-o {
    font-size: 50px;
    color: #a3e6f7;
}


#register-cancel{
    font-size: 48px;
    color: #a3e6f7;
    padding-right: 15px;
}
