.body{
    font-family: "Trebuchet MS";
    font-style: inherit;
    background-attachment: fixed;
    height: auto;
}

.container{
    background-color: white;
    position: relative;
    min-width: 500px;
}

.containererer{
    opacity: 0.8;
    border-radius: 15px;
    width: 55%;
    padding: 5%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.input{
    margin: 5px;
}

.inputt{
    max-width: 50%;
}

.lock, .fa-unlock-alt{
    font-size: 50px;
    color: #00BFF3;
}

.button {
    background:#00BFF3;
    color: white;
    margin: 10px;

}