.body{
    font-family: "Trebuchet MS";
    font-style: inherit;
    background-attachment: fixed;
    height: auto;
}

.container{
    background-color: white;
    position: relative;
    width: 70%;
    height: 80%;
}

#profile-england, #profile-norway {
    cursor: pointer;
}

.textarea{
    margin-bottom: 9%;
    margin-top: 2%;
}

.containererer{
    opacity: 0.7;
    border-radius: 15px;
    width: 65%;
    padding: 5%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pwfield1{
    margin-bottom: 5%;
}

.pwfield2{
    margin-bottom: 5%;
}

.inputt{
    max-width: 50%;
}

.lock, .fa-unlock-alt{
    margin-top: -5px;
    font-size: 50px;
    color: #a3e6f7;
}

.button {
    background:#a3e6f7;
    color: black;
    margin: 1px;

}

