body{
    font-family: "Trebuchet MS";
    font-style: inherit;
    background-attachment: fixed;

}

div.containerr{
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

div.background1{
    background-color: white;
    border-radius: 15px;
}

div.listborder {
    background-color: white;

}
div.personaliaborder{
    background-color: white;

    -moz-box-shadow:    inset 0 0 3px grey;
    -webkit-box-shadow: inset 0 0 3px grey;
    box-shadow:         inset 0 0 3px grey;
}
div.debtborder{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    min-height: 45%;

    -moz-box-shadow:    inset 0 0 3px grey;
    -webkit-box-shadow: inset 0 0 3px grey;
    box-shadow:         inset 0 0 3px grey;


}

.carousel-control-next-icon, .carousel-control-prev-icon{
    border-radius: 15px;
    border-color: black;
}
.glyphicon-chevron-left .glyphicon-chevron-right{
    background-color: aqua;
}
.farge{
    color: white;
}

.carousel-indicator li{
    background-color: hotpink;
}

.carousel-indicator .active{
    background-color: aqua;
}

.list-group{
    overflow-y:scroll;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
}

.force-to-bottom {
    position:absolute;
    bottom: 0%;
    width: 100%;
}

h4 {
    font-size: 50%;
}

h6{
    font-size: 90%

}



/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */