body{
    font-family: "Trebuchet MS";
    font-style: inherit;
}

div.containerr{
    height: 100%;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

div.listborder {
    background-color: white;

}
div.personaliaborder{
    background-color: white;
}
div.debtborder{
    background-color: dimgray;

}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 15px;
}
.farge{
    color: white;
}

.carousel-indicator li{
    background-color: hotpink;
}

.carousel-indicator .active{
    background-color: aqua;
}

.list-group{
    overflow-y:scroll;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
}

.force-to-bottom {
    position:absolute;
    bottom: 0%;
    width: 100%;
}