<div id="theAdmin" style="margin: 2vh">
    <div class="row" id="changename-group-admin">
        <div class="col-sm-7" id="membersofgroup" style="max-height: 97%; height: 65vh;">
            <div style="padding: 2vh; max-height: 97%; border: lightgrey 1px solid; border-radius: 10px; margin: 2vh; background-color:#a3e6f7">
                <h5>Members of group</h5>
                <div style="float: inherit; max-height: 390px" class="list-group" id="list-all-members"></div>
                <h4></h4>
            </div>
        </div>
    </div>
    <br>
    <div id="leavegroup" align="center">
        Leave group?
        <button onclick="leaveGroup()" type="button" class="btn btn-danger" style="margin-left:2vh">Yes</button>
    </div>
</div>