<div id="theAdmin" style="margin: 2vh">
    <div class="row" id="changename-group-admin">
        <div class="col-sm-7" id="membersofgroup" style="max-height: 97%; height: 65vh;">
            <div style="padding: 2vh; max-height: 97%; border: lightgrey 1px solid; border-radius: 10px; margin: 2vh; background-color:#a3e6f7">
                <h5 id="memebersofgroup">{{memebersofgroup}}</h5>
                <div style="float: inherit; max-height: 390px" class="list-group" id="list-all-members"></div>
                <h4></h4>
            </div>
            <div id="leaveinggroup" align="center">{{leaveinggroup}}
                <button onclick="leaveGroup()" id="leaveGroupButton" type="button" class="btn" style="margin-left:2vh; background-color: darkred">{{leaveGroupButton}}</button>
            </div>
        </div>
    </div>
</div>