<div class="pop" >
    <div class="pop-content" id="shop-popup" style="min-width: 400px">
        <p align="center" style="font-size: 20px;">{{comment}}</p>
        <div class="row">
            <div class="col-sm">
                <div style="border: outset 2px; padding: 1vh; border-radius: 15px; margin-bottom: 1vh">
                    <div>{{bought_by_label}}: {{bought_by}}</div>
                    <div>{{time_label}}: {{time}}</div>
                    <div>{{cost_label}}: {{cost}}</div>
                    {{{labelhtml}}}
                </div>
                <div style="border: outset 2px; background-color: lightsteelblue; padding: 1vh; border-radius: 15px;"><div style="max-height: 20vh; overflow-y:scroll;">{{goods_label}}:<ul class="list-group">{{{goods}}}</ul></div></div>
            </div>
            <div class="col-sm">
                <div style="max-height: 40vh; overflow-y: scroll ">
                    <table class="table table-hover table-bordered" >
                        <thead>
                        <tr>
                            <th>{{lang_payers}}</th>
                            <th>{{lang_payed}}</th>
                        </tr>
                        </thead>
                        <tbody>{{{payers}}}</tbody>
                    </table>
                </div>
            </div>
        </div>
        <div align="center" style="margin-top: 5%">
            <button align="right" id="balance-info-complete" type="button" class="btn" style="background-color: lightgrey">{{shop_complete}}</button>
        </div>
    </div>
</div>