<div class="pop">
    <div {{{data}}} class="pop-content" id="shop-popup">
        <h4>{{title}}</h4>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>{{lang_trip}}</th>
                <th>{{lang_price}}</th>
            </tr>
            </thead>
            <tbody>{{{budget_entries}}}</tbody>
        </table>
        <div align="center" style="margin-top: 5%">
            <button align="right" id="popup-complete" type="button" class="btn" style="background-color: lightgrey">{{complete}}</button>
        </div>
    </div>
</div>