<div class="pop">
    <div class="pop-content" id="shop-popup">
        <p align="center" style="font-size: 20px;">{{comment}}</p>
        <div>
            <div class="col-sm">Kjøpt av: {{bought_by}}</div>
            <div class="col-sm">Tidspunkt: {{time}}</div>
            <div class="col-sm">Kostnad: {{cost}}</div>
            <div class="col-sm">Betalere: <ul class="list-group">{{{payers}}}</ul></div>
            <div class="col-sm">Varer:<ul class="list-group">{{{goods}}}</ul></div>
        </div>
        <div align="center" style="margin-top: 5%">
            <button align="right" id="balance-info-complete" type="button" class="btn" style="background-color: lightgrey">{{complete}}</button>
        </div>
    </div>
</div>