<h4 id="lang-shoppinglist" style="margin-bottom: 1vh"></h4>
<ul style="overflow-y: auto; max-height: 37vh;"class="list-group itemlist"></ul>
<ul class="list-group" style="overflow-y: visible;">
    <li class="list-group-item add-item" >
        <i class="fa fa-plus-circle" aria-hidden="true" id="add-item-text"></i>
    </li>
</ul>
<div style="margin-top: 2vh" class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
        <button class="btn btn-success shopping-cart" style="margin-right: 1vh" id="buy-selected"></button>
    </div>
    <div class="col-sm" align="right">
        <button class="btn money" id="settlement"></button>
    </div>
</div>