<div class="col-sm liste" style="background-color: #{{color_hex}};" data-id="{{shopping_list_id}}">
    <div class="row">
        <div class="col-sm" style="text-align: left">
            <div class="list-name-div" style="margin-bottom: 6px; display: none;">
                <input type="text" class="form-control list-name-input">
            </div>
            <h4 style="cursor: pointer; height: 4vh;" class="list-name">{{shopping_list_name}}</h4>
        </div>
        <div class="col-sm" style="text-align: right;">
            <h5>
            <i class="fa fa-circle white-select" aria-hidden="true" data-color="#FFFFFF" style="color: white; text-shadow: 0px 0px 3px #000;"></i>
            <i class="fa fa-circle pink-select" aria-hidden="true" data-color="#FFB6C1" style="color: lightpink; text-shadow: 0px 0px 3px #000;"></i>
            <i class="fa fa-circle yellow-select" aria-hidden="true" data-color="#FFEC8E" style="color: #ffec8e; text-shadow: 0px 0px 3px #000;"></i>
            <i class="fa fa-circle green-select" aria-hidden="true" data-color="#90EE90" style="color: lightgreen; text-shadow: 0px 0px 3px #000;"></i>
                <i class="fa fa-tags label-select" aria-hidden="true" style="color: #a9d5f2; text-shadow: 0px 0px 3px #000; margin-left: 1vh" data-toggle="tooltip" title="Endre kategori på listen"></i>

            </h5>

        </div>
    </div>
    <ul class="list-group itemlist">{{{shopping_list_entries}}}</ul>
    <ul class="list-group">
        <li class="list-group-item add-item">
            <i class="fa fa-plus-circle" aria-hidden="true">&nbsp;{{lang_add_item}}</i>
        </li>
    </ul>
    <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 1.8vh" data-toggle="tooltip" title="Kjøp varer">&nbsp;{{lang_buy_items}}</i>
    <i class="fa fa-users" aria-hidden="true" style="font-size: 1.8vh" data-toggle="tooltip" title="Del listen med andre">&nbsp;{{lang_share_members}}</i>
    <i class="fa fa-trash" aria-hidden="true" style="font-size: 1.8vh" data-toggle="tooltip" title="Slett liste">&nbsp;{{lang_delete_list}}</i>
    <i class="fa fa-money" style="font-size: 1.8vh" aria-hidden="true" data-toggle="tooltip" title="Gjør opp handleliste">&nbsp;{{lang_settlement}}</i>
    <select data-toggle="tooltip" title="Endre valuta på listen" class="form-control currency-input" style="width:9vh; border: none; color: grey; background-color: transparent;">{{{lang_currency}}}</select>
</div>
