<li class="list-group-item" data-id="{{member_id}}">
    <div class="row">
        <div class="checkbox col-sm">
            {{member_text}}
        </div>
        <div style="float: right" class="row">
            <div class="col-sm">
                <select name="privilige">
                    <option value="member">Member</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="col-sm">
                <i class="fa fa-times" aria-hidden="true" style="margin-right: 5px"></i>
            </div>
        </div>
    </div>
</li>