<div style=" background-color: #a3e6f7; border-radius: 15px; border: outset 2px; padding: 2vh; margin-top: 1vh" id="new-label">
    <div class="row"  style="margin-bottom: 1vh;">
        <div class="col-sm-5">
            {{new_label_name}}:
        </div>
        <div class="col-sm-7">
            <input class="form-control" id="newlabelinput" placeholder="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            {{new_label_color}}:
        </div>
        <div class="col-sm-7">
            <input class="form-control" id="newlabelcolorinput" placeholder="23e05c">
        </div>
    </div>
</div>