<div style="padding: 2%; text-align: center" class="newsfeed" {{{data}}}>
    <div  class= "row">
        <div class ="col-xs-4">
            <h3></h3>
            <img style="padding-left: 10px; max-width: 100px; max-height: 100px" class="group-feedProfilPicture" src="{{image_url}}">
            <h3></h3>
            <div align="center">
                <div style="padding-left: 15px" class="group-feedName">{{name}}</div>
            </div>
        </div>
        <br>
        <div  class="col-sm-10">
            <div align="right">
                <div  class="group-feedTime">{{datetime}}</div>
            </div>
            <div class="row">
                <div style="text-align: left; font-size: x-large; padding-left: 3%" class="group-feedGroup"> {{groupname}}</div>
            </div>
            <h4></h4>
            <div style="text-align: left;padding-left: 3% " class="group-feedText">
                {{{text}}}
                <a href="#" class="read-more">{{lang_read_more}}</a>
                <span class="text-rest" style="display: none;">{{{rest_text}}}</span>
            </div>
            <br>
            <img src="{{payload}}" style="max-width: 730px; max-height: 750px;">
        </div>
    </div>
</div>