<div class="pop">
    <div {{{data}}} class="pop-content" id="shop-popup" style="width: 52vh">
        <h4>{{members}}</h4>
        <ul class="list-group memberlist" style="margin-top: 1vh; margin-bottom: 1vh">{{{memberlist}}}</ul>
        <div class="row" >
            <div class="col-md-8" id="scrollable-dropdown-menu">
                <input class="typeahead form-control" id="shop-member" placeholder="{{textfield}}">
            </div>
        </div>
        <div align="center" style="margin-top: 5%">
            <button align="right" id="popup-members-cancel" type="button" class="btn" style="background-color: lightgrey">{{memb_cancel}}</button>
            <button align="right" id="popup-members-complete" type="button" class="btn" style="background-color: lightgrey">{{memb_complete}}</button>
        </div>
    </div>
</div>