<div class="pop">
    <div {{{data}}} class="pop-content" style="padding: 3vh; max-width: 50vh">
        <h5 style="text-align: center">{{assign_header}}</h5>
        {{assign_name}}:
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2" id="scrollable-dropdown-menu" style="">
            <input class="typeahead form-control" id="assign-member" style="width: 100%; background-color: white" align="center" value={{member_task}}>
        </div>
        <div class="row" style="margin-top: 3vh">
            <div align='center'; class="offset-3 col-6"><button type="button" class="btn assigncancel" style="background-color: lightgrey; width:50%">{{assign_cancel}}</button></div>
        </div>
    </div>
</div>