<div class="pop">
    <div {{{data}}} class="pop-content" id="settle-popup" style="padding: 3vh; max-width: 50vh">
        <h5 style="text-align: center">{{settle_all}}</h5>
        <h6 style="text-align: center">{{are_you_sure}}</h6>
            <div class="row" style="margin-top: 3vh">
                <div class="col-sm" align="center"><button type="button" class="btn btn-info notsettleall" style="width: 20vh">{{no_settle_all}}</button></div>
                <div class="col-sm" align="center"><button type="button" class="btn btn-success settleall" style="width: 20vh">{{yes_settle_all}}</button></div>
            </div>
    </div>
</div>