




<div class="col-sm liste" data-id="{{task_list_id}}">
    <div class='row' style="margin-left: 0.1vh">
        <div class="list-name-div" style="margin-bottom: 6px;">
            <input  type="text" class="form-control list-name-input">
        </div>
        <h4 style="cursor: pointer;" class="list-name">{{task_list_name}}</h4>
    </div>
    <ul class="list-group itemlist">{{{task_list_entries}}}</ul>
    <ul class="list-group">
        <li class="list-group-item greyhover add-item">+ {{lang_add_item}}</li>
    </ul>
    <div class="row" style="margin-top: 1vh">
        <div class="col-sm" align="center"><button type='button' class="btn btn-info">{{lang_done_items}}</button></div>
        <div class="col-sm" align="center"><button type="button" class="btn btn-danger">{{lang_delete}}</button></div>
    </div>
</div>