<div class="row">
    <div class="col-sm listeTask" style="width: 90%; height: 40vh">
        <div class="row">
            <div class="col-sm-7" style="text-align: left">
                <div class="list-name-div-task" style="margin-bottom: 6px; display: none;">
                    <input type="text" class="form-control list-name-input-task">
                </div>
                <h4 id="list-name-task" class="list-name-task"></h4>
            </div>
        </div>
        <ul class="list-group itemlist-task"></ul>
        <ul class="list-group">
            <li class="list-group-item add-task">
                <i class="fa fa-plus-circle" aria-hidden="true" id="add-task"></i>
            </li>
        </ul>
    </div>
</div>
<i class="fa fa-list-ul" aria-hidden="true" style='font-size: 18px;'>&nbsp;Utførte gjøremål</i>